.studio-hero {
  position: relative;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/backgrnd.jpg);
  background-size: cover;

  color: $alternative-white-text;

  text-align: center;
  max-width: 1600px;
  margin: 0 auto;

  .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .link {
    display: inline-block;
    padding: 10px 32px;

    text-decoration: none;
    color: $alternative-white-text;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background: $hover-focus-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
