$primary-bgc: #ffffff;
$secondary-bgc: #f5f4fa;
$studio-hero-bgc: #2f303a;
$footer-bgc: #2f303a;

$primary-text-color: #212121;
$alternative-text-color: #757575;
$alternative-white-text: #ffffff;

$hover-focus-text-color: #2196f3;

$social-icon-link: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
